<html>
  <head>
    <title> Bootstrap Demonstation </title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <style>
      body{
        padding-top: 50;
      }
      </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
        data-toogle="collapsed" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
          <span class="sr-only">Toogle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" >MovieLand</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        {% set navigation_bar = [
            ('/', 'home', 'Home'),
            ('/movies/', 'movies', 'Movies'),
            ('/uploading/', 'uploading', 'Uploading')
        ] -%}

        {% set active_page = active_page|default('home') -%}
        ...
        <ul class="nav navbar-nav" id="navigation">
            {% for href, id, caption in navigation_bar %}
            <li{% if id == active_page %} class="active"  {% endif
            %}><a href="{{ href|e }}">{{ caption|e }}</a>
            </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
            <p clas "lead">{% block content %} {% endblock %} </p>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
