{% extends "base.html" %}
{% block content %}

	<table border='5' align='left' width="100%">
		<tr>
			<th colspan='2'><h1><center> {{movie}} </center></h1></th>
		</tr>
		<tr>
			<td width='23%' rowspan="8"><img src = {{poster}} ></td>
			<td><b>Director: </b> {{director}}</td>
		</tr>
		<tr>
			<td><b>Producer: </b> {{producer}} </td>
		</tr>
		<tr>
			<td><b>Genre: </b>
				<a href="/movies/{{genreLink}}/">{{genre}}</a>
			</td>
		</tr>
		<tr>
			<td><b>Release Year: </b><a href="/movies/{{year}}">{{year}}</a> </td>
		</tr>
		<tr>
			<td><b>Running Time: </b> {{time}} </td>
		</tr>
		<tr>
			<td><b>Budget: </b> {{budget}} </td>
		</tr>
		<tr>
			<td><b>Box Office: </b> {{boxoffice}} </td>
		</tr>
		<tr>
			<td><b>Casting: </b> 	{% for cast in casting %}
														{% if not loop.first %}, {% endif %}{{ cast }}
														{% endfor %} </td>
		</tr>
		<tr>
			<td colspan='2'><p><b>Plot:</b></p>
														{% for x in plot %}
														<p>{{ x }}</p>
														{% endfor %}
			</td>
		</tr>
	</table>

{% endblock %}
